.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #e7717d;

  padding: 1vh;
}
.header-container .logo-title {
  color: white;
  text-align: center;
  width: 50%;
}
.header-container .head-link {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-container .head-link div {
  color: white;
  border: 5px solid white;
  background-color: #fc4445;
  border-radius: 4px;
  padding: 8px 20px;
  text-align: center;
  margin-right: 20px;
}

.header-container .head-link div:hover {
  border-color: lightgray;
}
.header-container a {
  text-decoration: none;
  color: white;
}

@media screen and (max-width: 430px) {
  .header-container {
    flex-direction: column;
    align-content: space-between;
  }
  .header-container .logo-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .header-container .head-link {
    width: 100%;
    justify-content: center;
  }
}
