.search-box {
  width: 100%;
  /**margin: 100px 0 75px;**/
}
.search-box .search-bar {
  display: block;
  width: 25%;
  padding: 15px;
  text-align: center;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: white;
  border-radius: 22px;
  margin: 10px auto;
  border: 3px solid #c2b9b0;

  color: black;
  font-size: 20px;
  text-decoration: none;

  transition: 0.4s ease;
}
.search-box .search-bar:focus {
  color: #fccd04;
  border: 3px solid black;
}

@media screen and (max-width: 430px) {
  .search-box .search-bar {
    width: 100%;
  }
}
